{# Content Block #}
{% set title = fields.title %}
{% set subtitle = fields.subtitle %}
{% set background_text = fields.background_text %}
{% set image = Image(fields.image) %}
{% set tables = fields.tables %}

<div class="b-nutrition-table container" id="b-nutrition-table-{{ block.id }}">
  <div class="container__inner b-nutrition-table__container-inner flex">

    <div class="b-nutrition-table__title">
      {% if title %}
        <h2 class="bernino">{{ title }}</h2>
      {% endif %}

      {% if subtitle %}
        <p>{{ subtitle }}</h2>
      {% endif %}
    </div>

  </div>

  {% if background_text %}
    <span class="b-nutrition-table__bg-text bernino">{{ background_text }}</span>
  {% endif %}

  <div class="container__inner b-nutrition-table__content">
    <div class="grid">
      <div class="col-12 col-md-4 b-nutrition-table__content__image">
        <img src="{{ image }}" />
      </div>

      <div class="col-12 col-md-8">

        {% if tables %}
          <div class="b-nutrition-table__slider js-nutrition-table swiper">
            <div class="b-nutrition-table__slider__pagination"></div>
            <div class="b-nutrition-table__slider__wrapper swiper-wrapper">
              {% for table in tables %}
                <div class="b-nutrition-table__slider__slide swiper-slide" data-title="{{ table.tab_title }}">
                  {% if table.table_content %}
                    <div class="b-nutrition-table__slider__slide__content">
                      {% for column in table.table_content %}
                        <div class="b-nutrition-table__slider__slide__column">
                          {% for column_text in column.columns %}
                            <span>{{ column_text.text }}</span>
                          {% endfor %}
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}

                   <svg class="b-nutrition-table__slider__slide__shadow" xmlns="http://www.w3.org/2000/svg" width="100%" height="67" viewBox="0 0 1125 67" fill="none">
                      <g filter="url(#filter0_f_628_9392)">
                      <path d="M19 19.918V47.9995C95.205 41.0658 307.141 27.1984 545.246 27.1984C783.351 27.1984 1018.29 41.0658 1106 47.9995V19.918H19Z" fill="black" fill-opacity="0.19"/>
                      </g>
                      <defs>
                      <filter id="filter0_f_628_9392" x="0" y="0.917969" width="1125" height="66.0815" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                      <feGaussianBlur stdDeviation="9.5" result="effect1_foregroundBlur_628_9392"/>
                      </filter>
                      </defs>
                    </svg>
                </div>
              {% endfor %}
            </div>
            <div class="b-nutrition-table__slider__scroll">
              <div class="swiper-scrollbar b-nutrition-table__slider__scrollbar"></div>
            </div>
          </div>
        {% endif %}

      </div>
    </div>
  </div>

</div>