{% if items %}

<div class="e-burger e-burger--secondary js-burger-secondary">
  <span class="e-burger__line e-burger__line--1"></span>
  <span class="e-burger__line e-burger__line--2"></span>
</div>

<nav class="c-navigation--secondary js-menu-secondary">

  <ul class="c-navigation--secondary__list">

    {% for item in items %}

    <li class="{{ item.classes|join(' ') }} c-navigation--secondary__item">
      
      {% if item.link %}

        <a class="c-navigation--secondary__link" target="{{ item.target }}" href="{{ item.link }}">
          {{ item.title }}
        </a>

      {% else %}

        <span class="c-navigation--secondary__text">
          {{ item.title }}
        </span>

      {% endif %}

      {% if item.children %}

        <ul class="c-navigation--secondary-2__list">

        {% for child in item.children %}

          <li class="{{ child.classes|join(' ') }} c-navigation--secondary-2__item">

            {% if child.link %}

              <a class="c-navigation--secondary-2__link" target="{{ child.target }}" href="{{ child.link }}">
                {{ child.title }}
              </a>

            {% endif %}

          </li>

        {% endfor %}

        </ul>

      {% endif %}

    </li>

    {% endfor %}

  </ul>

</nav>

{% endif %}
